body {
  margin: 0;
  padding: 0;
  background-color: #FBF9F1;
  font-family: Arial, sans-serif;
}

.main-wrapper {
  background-color: #FBF9F1; /* or whatever color you want */
}


.logo-img {
  width: 350px;
  max-width: 100%;
}

.divider-line {
  width: 80%;
  height: 1px;
  background-color: #000;
}

.product-card {
  background-color: #FBF9F1;
  width: 700px;
  padding: 1.5rem;
  border-radius: 20px;
  box-shadow: 5px 8px 15px rgba(0, 0, 0, 0.1);
}

.product-image {
  width: 250px;
  height: auto;
  border-radius: 12px;
  box-shadow: 2px 3px 10px rgba(0, 0, 0, 0.1);
  flex-shrink: 0;
}

.product-description {
  max-width: 370px;
}

.product-card h5 {
  font-weight: 700;
  margin-bottom: 0.5rem;
}

.search-card {
  background-color: #FBF9F1;
  width: 300px;
  border-radius: 20px;
}

.footer {
  background-color: #A7D2DA;
}

.content-wrapper {
  gap: 3rem;
  padding-top: 2rem;
}